#preview {
  display: flex;
  padding: 20px 50px;
  margin-top: var(--navbar-height);
  height: var(--preview-height);
}

.selected-image {
  background-color: var(--background-primary-alt);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  object-position: 50% 80%;
  width: 500px;
  height: var(--image-size);
}

#intro-section {
  align-items: center;
  flex: 1;
  padding: 20px;
  margin: 0 50px 0 20px;
}

#title-section {
  font-weight: 300;
}

#predict-button {
  display: flex;
  justify-content: flex-start;
  color: var(--text-normal);
  letter-spacing: 1px;
  background-color: var(--primary);
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: 600;
  padding: 10px 30px;
  margin: 20px 0;
}

#prediction-section {
  margin-top: 20px;
}
