#sidebar {
  position: fixed;
  background-color: var(--background-primary-alt);
  overflow-y: auto;
  width: var(--sidebar-width);
  height: 100%;
  top: 0;
  bottom: 0;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--dividers);
  object-fit: cover;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  height: var(--sidebar-logo-height);
}

#favorites {
  border-bottom: 1px solid var(--dividers);
  width: 100%;
}

#categories {
  width: 100%;
}

.sidebar-section {
  color: var(--text-faint);
  font-size: 12px;
  margin: 20px 10px;
}

.sidebar-list {
  width: 100%;
}

.sidebar-list .item {
  display: flex;
  align-items: center;
  list-style-type: none;
  /* padding: 20px; */
  width: 100%;
  height: var(--sidebar-item-height);
}

.sidebar-list .item .sidebar-icon {
  display: flex;
  align-items: center;
  font-size: 0;
  overflow: hidden;
  height: var(--sidebar-item-height);
  margin: 0 4px;
}

.sidebar-list .item .sidebar-title {
  color: var(--text-muted);
  font-size: 14px;
  margin-right: 20px;
}

.sidebar-list .item:hover {
  cursor: pointer;
  background-color: var(--interactive-hover);
}

.sidebar-list #active {
  background-color: var(--interactive-active);
}
