:root {
  /* Light Mode */
  --sidebar-background-color: #dae3d9;
  --sidebar-width: 200px;
  --sidebar-border: 1px solid #b3bab3;
  --sidebar-logo-height: 70px;
  --sidebar-item-height: 48px;
  --sidebar-background-color-hover: #cad1c9;
  --sidebar-active: #b3bab3;
}

#sidebar {
  position: fixed;
  background-color: var(--sidebar-background-color);
  overflow-y: auto;
  width: var(--sidebar-width);
  height: 100%;
  top: 0;
  bottom: 0;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--sidebar-border);
  padding: 20px;
  width: 100%;
  height: var(--sidebar-logo-height);
}

#favorites {
  border-bottom: var(--sidebar-border);
  width: 100%;
}

#categories {
  width: 100%;
}

.sidebar-section {
  margin: 20px;
}

.sidebar-list {
  width: 100%;
}

.sidebar-list .item {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 20px;
  width: 100%;
  height: var(--sidebar-item-height);
}

.sidebar-list .item .sidebar-icon {
  margin-right: 20px;
}

.sidebar-list .item:hover {
  cursor: pointer;
  background-color: var(--sidebar-background-color-hover);
}

.sidebar-list #active {
  background-color: var(--sidebar-active);
}
