:root {
  --text-color: black;

  /* Sidebar */
  --sidebar-background-color: #dae3d9;
  --sidebar-width: 200px;
  --sidebar-border: 1px solid #b3bab3;
  --sidebar-logo-height: 70px;
  --sidebar-item-height: 48px;
  --sidebar-background-color-hover: #cad1c9;
  --sidebar-active: #b3bab3;

  /* Navbar */
  --navbar-background-color: #9e9e9e;
  --navbar-height: 50px;
  --navbar-search-hover: green;
  --navbar-link-hover: darkgray;

  /* Preview */
  --preview-background-color: #cecece;
  --preview-height: 350px;

  /* Content */
  --content-background-color: #ececec;

  /* Cards */
  --card-background-color: #838383;
  --card-width: 200px;
  --card-height: 200px;
}

* {
  box-sizing: border-box;
  /* font-family: "Courier New", Courier, monospace; */
  font-size: 12pt;
  padding: 0;
  margin: 0;
}

.App {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

/* ****************** Font Classes ****************** */
.nunito-sans-thin {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-light {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-regular {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-semibold {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-bold {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

/************ Layout ************/
#container {
  display: flex;
  width: 100%;
  height: 100%;
}

#main-content {
  flex-direction: column;
  flex: 1; /* take up remaining space */
  margin-left: var(--sidebar-width);
  height: 100%;
}
